nav {
    background-color: grey;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: powderblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.navbar {
    justify-content: space space-between;
    background-color: rgb(170, 140, 113)
}

a {
    justify-content: space space-between;
    padding: 20px;
}