@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: auto;
}

input,
textarea {
    margin-left: 0px;
    align-self: auto;
}

input {
    padding: 10px;
    font-size: 16pt;
    width: 100%;
}

textarea {
    width: 200%;
    font-size: 16pt;
    border: 1px solid #222;
    padding: 15px;
}

button {
    font-size: 16pt;
    /* padding: 10px 0; */
    width: 60%;
    background: lightslategray;
    color: #fff;
    /* border: 0; */
    /* margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px; */
}